.teacher__list{
    list-style-type: none;
    padding: 0;
    margin-top: 48px;
    text-align: left;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 21px;

    li{
        font-family: Montserrat;
        font-size: 22px;
        display: flex;
        justify-content: space-between;
    }
}