.indication__container{
    display: flex;
    gap: 38px;

    .indication{
        display: inline-flex;
        gap: 11px;
    
        span{
            width: 19px;
            height: 19px;
            background-color: #D9D9D9;
            border-radius: 50%;
        }
    }
}
