.button__link{  
    box-sizing: border-box;
    padding: 15px 25px;
    border: none;
    border-radius: 16px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    background-color: #FFF;
    color: #00CFDC;
    text-decoration: none;
    border: 4px solid #00CFDC;

    &:hover{
        background: #00CFDC;
        color: #FFF;
    }
}