.questions__list{
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin-top: 73px;
    font-family: Montserrat;
    font-style: normal;

    li{
        margin-bottom: 49px;

        h3{ 
            font-size: 22px;
            font-weight: 600;
        }
    
        p{
            font-size: 20px;
            font-weight: 500;
        }  

        textarea{
            color: #000;
            font-family: Montserrat;
            font-size: 20px;
            width: 95%;
            margin: 30px 0 0 30px;
            box-sizing: border-box;
            padding: 30px;
            background: #D9D9D9;
            border: none;
            border-radius: 16px;
            min-height: 170px;
            outline: none;
            resize: none;
        }
    }
    
    
}