.button__style{
    box-sizing: border-box;
    padding: 15px 30px;
    border: none;
    border-radius: 16px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    background-color: #00CFDC;
    color: #FFF;
    cursor: pointer;

    &:hover{
        background: #1410D6;
    }
}