.rating__container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 29px;
    margin-top: 29px;
}

.rating__scale{
    display: flex;
    gap: 25px;

    .answer__field{
        padding: 16px 23px;
        box-sizing: border-box;
        border-radius: 16px;
        border: 2px solid #625FFA;
        color: #625FFA;
        font-family: Montserrat;
        font-size: 20px;
        cursor: pointer;

        &:hover{
            background: rgba(98, 95, 250, 0.20);
        }

        &.active{
            background: #625FFA;
            color: white;
        }
    }
}